@import url('https://fonts.googleapis.com/css?family=Montserrat:500,400');

body * {
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #363636;
    display: grid;
    grid-template-rows: 29px 50px 1fr 1fr;
}

/* Window Handle */
header {
    background-color: #0d0d0d;
    padding: 3px 6px;
    color: white;
    display: flex;
    align-items: center;
    -webkit-app-region: drag;
}

.support-wrapper {
    display: grid;
    grid-template-columns: 20% 1fr 32px 8px 32px;
    align-items: center;
    padding: 2px 8px;
    box-shadow: 0 2px 5px #00000088;
}

#twitch-actions {
    display: flex;
    align-items: center;
}

#twitch-login {
    background-color: #4100A1;
    border: none;
    height: 35px;
    color: white;
    font-size: 0.95em;
    font-weight: 600;
    align-items: center;
    border-radius: 5px;
    display: none;
}

#twitch-login:hover,#twitch-login:focus {
    background-color: #2a0068;
    cursor: pointer;
}

#twitch-login > strong {
    padding-left: 8px;
}

#logout-wrapper {
    display: none;
    align-items: center;
}

#logout-icon-wrapper {
    display: flex;
    align-items: center;
    fill: white;
    transition: 0.2s;
}

#logout-icon-wrapper:hover,#logout-icon-wrapper:focus {
    cursor: pointer;
    fill: #9347FF;
}

#user-name-display {
    font-size: 1.1em;
    padding: 0 8px 0 0;
    color: white;
    font-weight: 500;
}


#app-info, #support-me {
    border: none;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    background-color: #202020;
    color: white;
    outline: none;
}

#app-info:hover, #support-me:hover,
#app-info:focus, #support-me:focus {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    background: #0f0f0f;
}

.menu-items {
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 70vh;
    color: white;
    flex-direction: column;
}

.setting-header {
    background-color: #222222;
    padding: 8px 20px;
    margin-bottom: 10px;
}

.setting-label {
    padding: 0 0 8px 0;
    margin: 0;
}

.setting-header > p {
    margin: 0;
    color: #B9BBBE;
    font-size: 13px;
}

.setting-form {
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0;
}

.setting-item {
    margin-bottom: 10px;
}

.input-container {
    margin-bottom: 15px;
    font-size: large;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.option-group {
    display: flex;
    align-items: center;
}

.option-group > h4 {
    margin: 0;
}


footer {
    display: flex; 
    justify-content:center;
    align-items: center;
    box-shadow: 0px -2px 5px #00000088;
}

.done-btn {
    font-family: 'Montserrat', sans-serif;
    height: 45px;
    width: 100px;
    background-color: #ff8000;
    border: none;
    border-radius: 100px;
    font-weight: 600;
    font-size: 1em;
    outline: none;
}

.done-btn:hover,
.done-btn:focus {
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    background-color: #994d00;
    box-shadow: 2px 2px 10px #00000044;
}

/* Unique */
.stream-luv-window-info {
    margin-left: 8px;
    background-color: #202020;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stream-luv-window-info:hover,
.stream-luv-window-info:focus {
    background-color: #0f0f0f;
}

#auto-open-behavior {
    width: 90vw;
    display: grid;
    grid-template-columns: 21ch auto;
}

#auto-open-behavior > label {
    white-space: nowrap;
}
#auto-open-behavior > label:nth-child(1) {
    grid-column: 1/3;
}
#auto-open-behavior > label:nth-child(4) {
    grid-column: 1/3;
}

#link-type {
    width: 90vw;
    display: grid;
    grid-template-columns: min-content auto;
}
#link-type > label {
    white-space: nowrap;
}
#link-type > label:nth-child(3) {
    grid-column: 1/3;
}

/* Shortcut */
.set-shortcut-wrapper {
    padding: 5px;
    display: flex;
    align-items: center;
}

#toggle-mute-input {
    border: 2px solid #00000000;
    outline: none;
    border-radius: 4px;
    background-color: #0f0f0f;
    margin-left: 5px;
    color: white;
    padding-left: 3.3px;
    font-size: 1em;
    line-height: 1.5em;
    width: 50%;
}

#toggle-mute-input:focus {
    border: 2px solid white !important;
    caret-color: #00000000;
}

