.input-container {
    display: flex;
    position: relative;
    cursor: pointer;
    padding-left: 35px;
    height: 25px;
    width: fit-content;
}

.input-container > input {
    position: absolute;
    top: -4;
    left: -6;
    z-index: 99;
    opacity: 0;
    cursor: pointer;
    height: 28px;
    width: 28px;
}

.custom-rb {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #00000000;
    border: 3px solid #E0961F;
    border-radius: 50%;
    transition: 0.2s;
}

.input-container:hover input ~ .custom-rb {
    background-color: #ffffff;
}

.custom-rb:after {
    content: "";
    position: absolute;
    opacity: 0;
    transition: 0.2s;
}

.input-container input:checked ~ .custom-rb:after {
    display: block;
    opacity: 1;
    transition: 0.2s;
}

.input-container .custom-rb:after {
    top: 3px;
    left: 3px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #E0961F;
    transition: 0.2s;
}

