body, body *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.control-bar {
    height: 32px;
    font-size: 19px;
    padding: 0 0 0 8px;
    display: grid;
    grid-template-columns: 1fr 32px;
    background-color: #0d0d0d;
    -webkit-app-region: drag;
    align-items: center;
}

/* control bar */
.control-bar>span {
    padding: 7px;
    cursor: pointer;
}

.control-bar>span:hover {
    background-color: #222;
}

.close-window {
    -webkit-app-region: no-drag;
    stroke: #707070;
    fill: #707070;
    stroke-width: 5;
}

/* List CSS */
.content-wrapper {
    overflow-y: scroll;
    height: calc(100vh - 32px);
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-label {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 10px 8px;
    user-select: none;
    background-color: #353535;
    color: white;
    fill: white;
    transition: all 0.15s ease-in-out;
}


ul ul .list-label {
    border-left: 3px solid rgb(48, 151, 211);
}

h4:hover {
    background-color: rgb(39, 39, 39);
    color: rgb(48, 151, 211);
    fill: rgb(48, 151, 211);
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.menu-arrow {
    margin-left: 15px;
    margin-top: 3px;
    transform: rotate(90deg);
}

ul div {
    opacity: 0;
    position: absolute;
    z-index: -999;
    margin-left: 30px;
    animation: closelist 1s ease-in-out;
}

.list_open {
    display: block;
    opacity: 1;
    position: relative;
    margin-left: 15px;
    z-index: inherit;
    animation: openlist 0.2s ease-in-out;
}

.list-svg_open {
    transform: rotate(270deg);
}

@keyframes openlist {
    0% {
        margin-left: 20px;
        opacity: 0;
    }

    100% {
        margin-left: 15px;
        opacity: 1;
    }
}

.section-content {
    /* max-height: 80vh;
    overflow-x: hidden;
    overflow-y: scroll; */
    color: white;
}