#message-container {
    flex-direction: column;
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: center;
    top: 40px;
    z-index: 999;
    display: none;
}

.message-fade {
    transition: 0.8s;
    opacity: 0;
}

.message-wrapper {
    border-radius: 5px;
    display: flex;
    background-color: #4BBF1F;
    max-width: 75vw;
    margin-bottom: 5px;
}

#message {
    margin: 0;
    padding: 5px;
    text-align: center;
}

.close-message {
    display: flex;
    border-radius: 0px 5px 5px 0px;
}

.close-message:hover {
    transition: 0.2s ease-in-out;
    background-color: #3c9b19;
    cursor: pointer;
}

.close-message > svg {
    transform: rotate(45deg);
}
