@import url('https://fonts.googleapis.com/css?family=Montserrat:500,400');

body * {
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #363636;
    display: grid;
    grid-template-rows: 29px 50px 1fr 1fr;
}

/* Window Handle */
header {
    background-color: #0d0d0d;
    padding: 3px 6px;
    color: white;
    display: flex;
    align-items: center;
    -webkit-app-region: drag;
}

.support-wrapper {
    display: grid;
    grid-template-columns: 20% 1fr 32px 8px 32px;
    align-items: center;
    padding: 2px 8px;
}

#twitch-login {
    background-color: #4100A1;
    height: 35px;
    color: white;
    font-weight: 600;
    align-items: center;
    border-radius: 5px;
    display: none;
}

#twitch-login:hover {
    background-color: #2a0068;
    cursor: pointer;
}

#twitch-login > strong {
    padding-left: 8px;
}

#logout-wrapper {
    display: none;
    align-items: center;
}

#logout-icon-wrapper {
    display: flex;
    align-items: center;
    fill: white;
    transition: 0.2s;
}

#logout-icon-wrapper:hover {
    cursor: pointer;
    fill: #9347FF;
}

#user-name-display {
    margin: 0;
    padding: 0 8px 0 0;
    color: white;
    font-weight: 500;
}

#logout-text {
    color: purple;
    margin: 0;
    padding-left: 5px;

    cursor: pointer;
    text-decoration: underline;
}

#app-info {
    width: 30px;
    height: 30px;
    background-color: #3d3d3d;
    color: white;
}

#app-info:hover {
    box-shadow: 0px 0px 10px #ffffff80;
    cursor: pointer;
}

#support-me {
    width: 30px;
    height: 30px;
    background-color: #3d3d3d;
    color: white;
}

#support-me:hover {
    box-shadow: 0px 0px 10px #ffffff80;
    cursor: pointer;
}

.menu-items {
    display: flex;
    color: white;
    flex-direction: column;
}

.setting-header {
    background-color: #222222;
    padding: 8px 20px;
    margin: 8px 0;
}

.setting-label {
    padding: 0 0 8px 0;
    margin: 0;
}

.setting-header > p {
    margin: 0;
    color: #B9BBBE;
    font-size: 13px;
}

.setting-label > strong:hover {
    cursor: help;
}

.info-tile {
    display: none;
    position: absolute;
    background-color: #0d0d0d;
    padding: 10px;
    transition: 0.2s;
    opacity: 0;
    border: 1px solid white;
    z-index: 9001;
}

.info-tile_on {
    display: block;
    opacity: 1;
}

.setting-form {
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    width: auto;
}

.setting-form > * {
    margin-bottom: 15px;
    font-size: large;
    font-weight: 500;
}

.option-group {
    display: flex;
    align-items: center;
}

.option-group > h4 {
    margin: 0;
}


footer {
    display: grid;
    grid-template-columns: auto 70px 15px 70px auto;
    text-align: center;
    margin-top: 50px;
}

button {
    font-family: 'Montserrat', sans-serif;
    height: 23px;
    background-color: #ff8000;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    font-size: 15px;
    outline: none;
}

button.submit {
    grid-column: 2/3;
}

button.cancel {
    grid-column: 4/5;
}

.submit:hover {
    background-color: #994d00;
    transform: scale(1.035) translate(0, 0);
}

.cancel:hover {
    background-color: #994d00;
    transform: scale(1.035) translate(0, 0);
}