@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
body {
    padding: 0;
    margin: 0;
}
.control-bar {
    height: 32px;
    font-size: 19px;
    padding: 0 0 0 8px;
    display: grid;
    grid-template-columns: auto 1fr 32px 32px;
    background-color: #0d0d0d;
    -webkit-app-region: drag;
    align-items: center;
}

/* title */
#window-title {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-user-select: none;
    color: white;
}

.control-bar>span:hover {
    background-color: #222;
}

.control-bar>span {
    padding: 7px;
    cursor: pointer;
}

.mute-window {
    grid-column: 3;
    -webkit-app-region: no-drag;
    stroke: #707070;
    fill: #707070;
}

#mute-icon {
    display: none;
}

.close-window {
    grid-column: 4;
    -webkit-app-region: no-drag;
    stroke: #707070;
    stroke-width: 5;
}