.switch {
    top: 10px;
    left: 5px;
    position: relative;
    display: inline-block;
    width: 26px;
    height: 40px;
}

.slider:hover {
    background-color: #fff;
}

/* Hide default checkbox */
.switch>input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(24, 24, 24);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 3px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 22px;
    left: 2px;
    bottom: 2px;
    background-color: rgb(92, 92, 92);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 3px;
}

input:checked+.slider {
    background-color: #ff8000;
}


input:checked+.slider:before {
    -webkit-transform: translateY(-26px);
    -ms-transform: translateY(-26px);
    transform: translateY(-21px);
    outline: none;
}